.nr-container1 {
  max-width:1356px;
  padding: 30px;
  color: white;
}

.nr-title1 {
  font-size: 28px;
  font-weight: bold;
  textAlign: "left";
  margin-top: -30px; 
}


.nr-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
}

.nr-item {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.nr-item:hover {
  opacity: 0.8;
}
.nr-tabs1 {
  display: flex;
  gap: 12px;
  margin-top: 30px;  /* cách tiêu đề một khoảng */
  margin-bottom: 20px;
}
.nr-tabs1 button {
  padding: 6px 16px;
  border-radius: 20px;
  border: none;
  background: #2a2633;
  color: #bbb;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.nr-tabs1 button.active {
  background: #783fb1ff;
  color: white;
}
.nr-img {
  width: 140px;
  height:140px;
  border-radius: 6px;
  object-fit: cover;
}

.nr-info1 {
  display: flex;
  flex-direction: column;
}

.nr-name1 {
  font-size: 18px;
  font-weight: 600;
   margin-top:0px;
   margin-bottom: 2px;
}
.nr-artist1,
.nr-artist1 {
  font-size: 14px;
  color: #a3a3a3;
}
.nr-label {
  display: flex;
  align-items: center;
}

.nr-label-img1 {
  width: 20px;
  height: auto;
  border-radius: 56px;
  opacity: 0.8;
  gap:5px;
}

.label-text {
  font-size: 12px;
  color: #b3b3b3;

}
.player-bar {
  width: 100%;
  background: #131313;
  padding: 12px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #333;
  z-index: 9999;
}

.player-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.player-img {
  width: 56px;
  height: 56px;
  border-radius: 6px;
}

.player-title {
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.player-artist {
  font-size: 13px;
  color: #bbb;
}

/* Full width audio */
.audio-full {
  width: 80%;
}

