.albums-page {
  width: 100%;
}

.album-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.album-header h2 {
  font-size: 26px;
  color: white;
}

/* Nút lọc */
.filter-btn {
  padding: 10px 15px;
  background: #2b1f3a;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: white;
  outline: none;
  font-size: 15px;
  cursor: pointer;
}

.filter-btn:hover {
  background: #3a2c52;
}

.album-list p {
  font-size: 18px;
  color: #d3c8e3;
}
