.explore-container {
  padding: 20px 30px;
  margin-left: 20px; /* vì có sidebar */
  color: #fff;
  min-height: 100vh;
  font-family: sans-serif;
}

.explore-section {
  margin-bottom: 10px;
}

.explore-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.explore-header h2 {
  font-size: 25px;
  font-weight: 700;
}

.more-btn {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 13px;
}

.more-btn:hover {
  color: #fff;
}

.explore-row {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
}



.music-card {
  width: 200px;
  cursor: pointer;
  flex-shrink: 0;
}

.music-card img {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.25s ease-in-out;
}

.music-card img:hover {
  transform: scale(1.05);
}

.title {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 600;
}

.artist {
  font-size: 10px;
  color: #aaa;
}

/* phần bên phải (navbar + nội dung) */


.navbar-sticky {
  position: sticky;
  top: 0;
  
  background: #0d0734ff; /* nền để che phía sau */
}
