.home-container {
  width: 100%;
}

/* SLIDER */
.slider {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.slider img {
  width: 33%;
  border-radius: 12px;
}

/* CATEGORIES */
.categories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-bottom: 40px;
}

.cat-item {
  padding: 25px 0;
  background: #291d74;
  border-radius: 12px;
  text-align: center;
}

/* SONG GRID */
.title {
  font-size: 22px;
  margin-bottom: 15px;
}

.song-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.song-card img {
  width: 100%;
  border-radius: 12px;
}

.song-name {
  margin-top: 8px;
  font-weight: bold;
}

.song-artist {
  font-size: 13px;
  opacity: 0.7;
}
