.chart-container {
  padding: 20px;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.chart-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.play-btn {
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;
}

.song-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.song-item {
  display: grid;
  grid-template-columns: 60px 1.2fr 1fr 80px;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  
}

.rank {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.song-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.song-img {
  width: 55px;
  height: 55px;
  border-radius: 6px;
  object-fit: cover;
}

.meta-title {
  font-size: 16px;
  font-weight: 600;
  color:white;
}

.meta-artist {
  opacity: 0.7;
  font-size: 14px;
   color:white;
}

.album {
  font-size: 14px;
  opacity: 0.7;
}

.duration {
  text-align: right;
  opacity: 0.85;
}
