.user-navbar {
  height: 70px;
  color: white;
  display: flex;
  padding: 16px;
  z-index: 999;
 
}
.menu-btn {
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap:20px;
}

.bell {
  font-size: 30px;
  cursor: pointer;
}

.avatar-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  
}

.dropdown {
  position: absolute;
  margin-top: 10px;
  right: 0;
  background: #454546ff;
  border-radius: 10px;
  padding: 10px;
  width: 160px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
}

.dropdown-item,
.logout-btn {
  width: 100%;
  padding: 10px;
  text-align: left;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown-item:hover,
.logout-btn:hover {
  background: rgba(255,255,255,0.1);
  border-radius: 6px;
}
