.usersidebar {
   width: 240px; /* Chiều rộng cố định */
  height: 100vh; /* full chiều cao màn hình */
  background: #12162eff;
  color: white;

  flex-shrink: 0;   /* Không cho sidebar bị co lại */
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto; /* Scroll nếu menu dài */
  gap: 20px;
}

.sidebar-logo {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
  color: #7c5cff;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1; /* Chiếm toàn bộ không gian còn lại */
}

.sidebar-item {
   padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-item a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: white;
}

.sidebar-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.sidebar-item.active {
  background: #7c5cff;
}

.menu-icon {
  font-size: 20px;
}
