.slider-container {
  width:105%;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
}

.slider-item {
  min-width: 200px; /* tùy chỉnh theo ảnh */
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.slider-item img {
  width: 120%;
  border-radius: 10px;
}

.slider-item:hover {
  transform: scale(1.05);
}
