.slider-container {
  width:105%;
  overflow: hidden;
  position: relative;
  
}

.slider {
  display: flex;
  flex-wrap: nowrap;
}

.slider-item {
  min-width: 100px; /* tùy chỉnh theo ảnh */
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.slider-item img {
  width: 120%;
  border-radius: 10px;
}

.slider-item:hover {
  transform: scale(1.05);
}
@media (max-width: 1200px) {
  .slider-item {
    width: 140px;
  }
}

/* Tablet */
@media (max-width: 992px) {
  .slider-item {
    width: 120px;
  }
}

/* Tablet dọc */
@media (max-width: 768px) {
  .slider-item {
    width: 110px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .slider-item {
    width: 90px;
  }
}