.nr-container {
  max-width:1356px;
  padding: 30px;
  color: white;
}

.nr-title {
 font-size: 25px;
  font-weight: bold;
  textAlign: "left";
  margin-top: -50px;
}

.nr-tabs {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.nr-tabs button {
  padding: 6px 16px;
  border-radius: 20px;
  border: none;
  background: #2a2633;
  color: #bbb;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.nr-tabs .active {
  background: #783fb1ff;
  color: white;
}

.nr-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.nr-item {
  display: flex;
  align-items: center;
  gap:4px;
  position: relative;
}

.nr-img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
 
}

.nr-info {
  display: flex;
  flex-direction: column;
  gap: 0px;              /* gần như dính */
}

.nr-name {
  font-size: 17px;
  font-weight: 700;
  margin-top:0px;
   margin-bottom: 2px;
}

.nr-artist,
.nr-time {
  font-size: 12px;
  color: #b5b5b5;
  
}
.label-row {
  display: flex;
  align-items: center;
}

.label-logo {
  width: 20px;
  height: auto;
  border-radius: 56px;
  opacity: 0.8;
  gap:2px;
}

.label-text {
  font-size: 12px;
  color: #b3b3b3;
  letter-spacing: 0.5px;
}
.player-bar {
  width: 100%;
  background: #131313;
  padding: 12px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #333;
  z-index: 9999;
}

.player-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.player-img {
  width: 56px;
  height: 56px;
  border-radius: 6px;
}

.player-title {
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.player-artist {
  font-size: 13px;
  color: #bbb;
}

/* Full width audio */
.audio-full {
  width: 80%;
}


