.topbar-container {
  position: relative;
  padding: 16px;
  color: white;
  font-family: sans-serif;
  gap:5px;
}

.topbar {
  position: fixed;
  top: 0;
  width: calc(100% - 240px);
  height: 60px;
  display: flex;
  align-items: center;
 gap:60px;
  padding: 0 20px;          /* tạo khoảng cách 2 bên */
  z-index: 999;
}
.search-box {
  display: flex;
  align-items: center;
  color:white;
  padding: 8px 12px;
  border-radius: 999px;
  flex: 1;
   width: 100%;
  max-width: 700px;  
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 8px;
 
   width: 300px;
}

.search-icon {
  color: #888;
  font-size: 20px;
}

.buttons button {
  margin-left: 12px;
  padding: 8px 16px;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.login-btn {
  background-color: #ee76d2ff;
  color: white;
}

.register-btn {
  background-color: #888;
  color: white;
  border: 1px solid white;
}

.login-btn:hover {
  background-color: #852e8bff;
}

.register-btn:hover {
  background-color: white;
  color: black;
}

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color:#140c14ff ;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(19, 19, 19, 0.5);
  z-index: 10;
}

.form-popup h2 {
  margin-bottom: 12px;
}

.form-popup input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: none;
  background-color: #eff2f6ff;
  color: black;
}

.form-popup button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 999px;
  margin-bottom: 8px;
  cursor: pointer;
  font-weight: bold;
}

.form-popup .close-btn {
  background-color: transparent;
  color: #cac8c8ff;
  text-decoration: underline;
}
.slider-container {
  position: relative;
  width: 100%;
  padding: 20px;
}

.slider-container h2 {
  margin-bottom: 20px;
}

.slider {
  display: flex;
  gap: 5px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.slider-item {
  flex: 0 0 50%; /* 2 item trên 1 màn hình */
  height: 200px; /* chiều cao ảnh */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.2s;
}

.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-item:hover {
  transform: scale(1.02);
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-btn.left {
  left: 0;
}

.slider-btn.right {
  right: 0;
}

.slider-btn:hover {
  background: rgba(0,0,0,0.6);
}
