.topbar-container {
  position: relative;
  padding: 20px;
  color: white;
  font-family: sans-serif;
  gap:5px;
}

.topbar {
  position: fixed;
  top: 0;
  width: calc(100% - 240px);
  height: 80px;
  display: flex;
  align-items: center;
 
  padding: 0 30px;          /* tạo khoảng cách 2 bên */
  z-index: 999;
}
.search-box {
  display: flex;
  align-items: center;
  color:white;
  padding: 20px 12px;
  border-radius: 999px;
  flex: 1;
   width: 100%;
  max-width: 700px;  
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 8px;
   width: 300px;
}

.search-icon {
  color: #888;
  font-size: 20px;
}

.buttons button {
  margin-left: 12px;
  padding: 10px 20px;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 18px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login */
.login1-btn {
  background-color: #60b1b7ff;
  color:white;
}

/* Register */
.register-btn {
  background-color: #a21080ff; /* giống login */
 
}
.register-btn:hover {
  background-color: #60b1b7ff;
  color: white;
}

.buttons button:hover {
  opacity: 0.85;
}

.login1-btn:hover {
  background-color: #ea2ed1ff;
  color: black;
}
.slider-container {
  position: relative;
  width: 100%;
  padding: 20px;
}

.slider-container h2 {
  margin-bottom: 20px;
}

.slider {
  display: flex;
  gap: 5px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.slider-item {
  flex: 0 0 50%; /* 2 item trên 1 màn hình */
  height: 200px; /* chiều cao ảnh */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.2s;
}

.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-item:hover {
  transform: scale(1.02);
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-btn.left {
  left: 0;
}

.slider-btn.right {
  right: 0;
}

.slider-btn:hover {
  background: rgba(0,0,0,0.6);
}
.buttons {
  display: flex !important;
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 9999;
}
.element {
  overflow: scroll; /* hoặc auto */
  scrollbar-width: none; /* Firefox */
}

.element::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
