.playlist-page {
  width: 100%;
  padding: 30px;
  color: white;
  
}

.back-btn {
  background: transparent;
  border: none;
  color: #aaa;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}

.playlist-header {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.playlist-cover-big {
  width: 240px;
  height: 240px;
  border-radius: 12px;
  object-fit: cover;
}

.playlist-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.playlist-title-big {
  font-size: 42px;
  font-weight: 700;
}

.playlist-small {
  color: #b8b8b8;
}

.playlist-artists {
  margin-top: 10px;
  color: #cccccc;
}

.playlist-actions {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.playall-btn {
  background: #1db954;
  padding: 10px 22px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.download-btn {
  background: #303030;
  padding: 10px 22px;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.song-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.song-table th {
  text-align: left;
  padding: 10px 0;
  color: #aaa;
  font-weight: 500;
}

.song-table td {
  padding: 14px 0;
  border-bottom: 1px solid #333;
}

.song-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.song-title img {
  width: 42px;
  height: 42px;
  border-radius: 6px;
  object-fit: cover;
}
