.playlist-item {
  width: 240px;
  cursor: pointer;
  color: white;
 max-width:1356px;

 padding:20px
}

.playlist-cover {
  width: 118%;
  height: 240px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.playlist-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .4s ease;
}

.playlist-item:hover img {
  transform: scale(1.06);
}

/* Icon sóng nhạc */
.icon-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0,0,0,0.5);
  padding: 6px;
  border-radius: 50%;
}
.material-icons {
  font-size: 20px;
  color: white;
}

.playlist-title {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 600;
}

.playlist-desc {
  margin-top: 4px;
  color: #cfcfcf;
  font-size: 14px;
}
.playlist-grid {
  display: flex;
  gap: 15px;
 
  overflow-x: auto;
  padding-bottom: 30px;
}

.playlist-grid::-webkit-scrollbar {
  height: 6px;
}
.playlist-grid::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 3px;
}
